# Dependencies
node_modules
.pnp
.pnp.js

# Turbo
.turbo

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage

# Build
dist
build